includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/lorisleiva/laravel-actions/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/app.php
        - config/
        - database/
        - routes/
        - app-modules/catalog/src/
        - app-modules/catalog/database/
        - app-modules/catalog/routes/
        - app-modules/cart/src/
        - app-modules/cart/database/
        - app-modules/cart/routes/
        - app-modules/sales/src/
        - app-modules/sales/database/
        - app-modules/sales/routes/
        - app-modules/storefront/src/
        - app-modules/storefront/routes/

    level: max
